<div class="flex h-screen bg-gray-100 text-gray-800 font-sans">
  <app-main-navigation />

  <div class="flex-1 overflow-hidden flex flex-col">

    <div class="bg-white p-4 flex justify-between items-center border-b border-gray-200">
      <h1 class="text-2xl font-bold">AO Management</h1>
      <div class="flex items-center space-x-4 hs-dropdown">
        <button
          class="px-4 py-2 bg-indigo-600 text-white rounded-md flex items-center text-sm font-semibold hover:bg-indigo-700"
          aria-haspopup="dialog" aria-expanded="false" aria-controls="new-ao-project-modal"
          data-hs-overlay="#new-ao-project-modal">
          <fa-icon [icon]="['far', 'plus']" class="mr-2"></fa-icon>
          New AO Project
        </button>
        <fa-icon [icon]="['far', 'bell']" class="text-gray-500 cursor-pointer" size="lg"></fa-icon>
        <button class="flex items-center cursor-pointer" id="hs-dropdown-with-header" aria-haspopup="menu"
          aria-expanded="false" aria-label="Dropdown">
        </button>


        <div class="hs-dropdown relative inline-flex">
          <button id="hs-dropdown-with-header" type="button" class="hs-dropdown-toggle flex items-center cursor-pointer"
            aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
            <img [src]="userAvatarUrl" alt="User Avatar" class="w-8 h-8 bg-gray-300 rounded-full mr-2">

            <svg class="hs-dropdown-open:rotate-180 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round">
              <path d="m6 9 6 6 6-6" />
            </svg>
          </button>

          <div
            class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 bg-white shadow-md rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700"
            role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-with-header">
            <div class="py-3 px-4 border-b border-gray-200 dark:border-neutral-700">
              <p class="text-sm text-gray-500 dark:text-neutral-400">Signed in as</p>
              <p class="text-sm font-medium text-gray-800 dark:text-neutral-300">{{ username }}</p>
            </div>
            <div class="p-1 space-y-0.5">
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700"
                (click)="logout()">
                Log out
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div id="new-ao-project-modal"
  class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none"
  role="dialog" tabindex="-1" aria-labelledby="hs-vertically-centered-modal-label">
  <div
    class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
    <div
      class="w-full flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
      <div class="flex justify-between items-center py-3 px-4 border-b dark:border-neutral-700">
        <h3 id="new-ao-project-modal-label" class="font-bold text-gray-800 dark:text-white">
          New AO Project
        </h3>
        <button type="button"
          class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
          aria-label="Close" data-hs-overlay="#new-ao-project-modal">
          <span class="sr-only">Close</span>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <div class="p-4 overflow-y-auto">
        <p class="text-gray-800 dark:text-neutral-400">
          Create a new AO project by filling out the following form.
        </p>
        <br>
        <form [formGroup]="form">
          <div class="max-w-sm space-y-3">
            <div class="relative">
              <input type="text"
                class="peer py-3 px-4 ps-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                formControlName="shortName" placeholder="Enter short name">
            </div>

            <div class="relative">
              <input type="text"
                class="peer py-3 px-4 ps-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                formControlName="client" placeholder="Enter client name">
            </div>

            <div class="relative">
              <input type="text"
                class="peer py-3 px-4 ps-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                formControlName="deadline" placeholder="Enter deadline">
            </div>
          </div>
        </form>
      </div>
      <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t dark:border-neutral-700">
        <button type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          data-hs-overlay="#new-ao-project-modal">
          Close
        </button>
        <button type="button" (click)="onSubmit()"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
          data-hs-overlay="#new-ao-project-modal">Create</button>
      </div>
    </div>
  </div>
</div>